---
layout: default
---

<!-- 오른쪽 목록 -->
{%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}

{{ content }}

{%- if site.posts.size > 0 -%}
  <ul class="posts">
    <li class="posts-labelgroup" id="posts-labelgroup">
      <h1 id="posts-label">posts</h1>
      {% if site.plainwhite.search %}
      <div class="search-container">
        <div class="search-section">
          <i class="icon-search"></i>
          <input type="text" name="search" id="searchbar" autocomplete="off" aria-label="search in posts">
        </div>
        <div class="search-results" id="search-results" data-placeholder="No Results" style="display: none;"></div>
      </div>
      {% endif %}
    </li>

    {%- for post in paginator.posts -%}
      <li>
        {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
        <a class="post-link" href="{{ post.url | relative_url }}">
          <h2 class="post-title">{{ post.title | escape }}</h2>
        </a>
        <div class="post-meta">
          <div class="post-date">
            <i class="icon-calendar"></i>
            {{ post.date | date: date_format }}
          </div>
          {%- if post.categories.size > 0-%}
          <ul class="post-categories">
            {%- for tag in post.categories -%}
            <li>{{ tag }}</li>
            {%- endfor -%}
          </ul>
          {%- endif -%}
        </div>
        <div class="post">
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </div>
      </li>
    {%- endfor -%}
  </ul>

<!-- paging-->
{% if paginator.total_pages > 1 %}
<nav aria-label="..." class="pageNav">
  <ul class="pagination">
    {% if paginator.previous_page %}
    <li class="page-item">
      <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" tabindex="-1"><span>&laquo;</span></a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1"><span>&laquo;</span></a>
    </li>
    {% endif %}
    {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <li class="page-item active">
        <a class="page-link" href="#">{{ page }} <span class="sr-only">(current)</span></a>
      </li>
    {% elsif page == 1 %}
      <li class="page-item"><a class="page-link" href="{{ paginator.previous_page_path | relative_url }}">{{ page }}</a></li>
    {% else %}
      <li class="page-item"><a class="page-link" href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a></li>
    {% endif %}
  {% endfor %}
  {% if paginator.next_page %}
  <li class="page-item">
    <a class="page-link" href="{{ paginator.next_page_path | relative_url }}">&raquo;</a>
  </li>
  {% else %}
  <li class="page-item disabled">
    <a class="page-link" href="#" tabindex="-1"><span>&raquo;</span></a>
  </li>
  {% endif %}
  </ul>
</nav>
{% endif %}
  <!-- <p class="feed-subscribe"><svg class="svg-icon orange">
		<use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use>
	</svg><a href="{{ "/feed.xml" | relative_url }}">Subscribe</a></p> -->
{%- endif -%}
